.couple {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  background: #fff;
  padding: 40px 20px;
  border-radius: 10px;
  /* box-shadow: 0px 4px 8px #E76767(0, 0, 0, 0.1); */
  box-shadow: 0 4px 10px rgba(231, 103, 103, 0.3);
  width: 70%;
  margin-top: -3%;
  /* filter: drop-shadow(0 0 0px  #E76767); */
}
.profile-container {
  position: relative;
  width: 200px; /* Adjust as needed */
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.profile-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  
}

.lotus {
  position: absolute;
  /* width: 80px; Adjust size */
}
.couple h2 {
  color: #B70B9D;
  font-family: "Comfortaa";
  font-size: 40px;
  margin-bottom: 15px !important;
}
.couple span {
  color: gray;
  font-family: "Comfortaa";
  font-size: 12px;
  margin-bottom: 20px !important;

}
.groom-info h3{
  font-family: "Allura-Regular";
  font-size: 36px;
  margin: 10px !important;
}
.groom-info p{
  font-family: "Comfortaa";
  font-size: 12px;
  line-height: 20px;
}
.social{
  width: 20px !important;
  height: 20px !important;
  padding: 10px;
  border-radius: 0% !important;
}
.couple-card {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.couple-card div {
  text-align: center;
  /* background: #ffe6f2; */
  padding: 30px;
  border-radius: 10px;
  /* width: 250px; */
}

.couple-card img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .couple-card {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width:500px) {
  .couple h2 {
    font-size: 26px;
  }
}