.gallery-container {
  width: 70%;
  /* max-width: 900px; */
  margin: auto;
  padding: 20px;
   background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}

.wedding-slider {
  border-radius: 10px;
  overflow: hidden;
}

.slide-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

